:root {
    --blue: #4deef7;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #757575;
    --maxwidth: 1200px; 
    --rootsize: 20px;
}
/*Kilde: https://developer.mozilla.org/en-US/docs/Web/CSS/:root*/


body {
    background-color: var(--white);
    color: var(--grey);
    font-family: 'Rubik', sans-serif;
    font-size: var(--rootsize);
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}


header {
    display: flex;
    border: 1px solid var(--grey);
    padding: 0rem 2rem;
    margin-top: 15px;
    margin-left: 350px;
    margin-right: 500px;
    text-transform: uppercase;

}

.tab {
    padding: 30px 350px;
    display: block;
  }
  
  .tab button {
    cursor: pointer;
    padding: 25px 50px;
    transition: 0.3s;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    margin-right: 10px; 
  }
  /*https://stackoverflow.com/questions/9792849/how-to-insert-spaces-tabs-in-text-using-html-css*/

  .tab.active {
    visibility: visible;
    display: block;
}
  
  .tab button:hover {
    background-color: var(--blue);
  }
  
  .tab button.active {
    background-color: var(--blue);
    color: var(--white);
  }
  
  .tab-content {
    background: var(--white);
    display: none;
    padding: 100px 30px;
    margin-top: -60px;
    border-top: 8px solid var(--blue);
    border-bottom: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
  }

  .tab-content.active{
    display:block;
  }
  /*Kilde: https://www.w3schools.com/howto/howto_js_tabs.asp*/